@charset "UTF-8";



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  font-family: "Noto Serif JP", serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

.nav_inner ul{
  display: flex;
  flex-wrap: nowrap;
  gap: 36px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 107.29px;
}

.wrapper{
  display: flex;
  align-items: center;
  gap: 0px 48px;
  margin-left: auto;
}

.nav_inner a{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 1.80;
}

.contact{
  background: #000;
  color: #fff;
  padding: 16px 40px;
}


/*----------------header------------------*/
#header {
  width: 100%;
}

#header .logo{
  width: 280px;
}

#header .main{
  position: relative;
}

#header .bg{
  position: absolute;
  left: 100px;
  top: 100px;
  width: 200px;
  z-index: 2;
  max-width: 100%;
}

#header .banner{
  width: 1440px;
  max-width: 100%;
   margin-left: auto;
  margin-right: auto;
   padding: 0 40px;
}


/*------------------------main---------------------------------*/
main  {
  width: 100%;
}

#aboutus{
  display: flex;
  justify-content: center;
  background-color: #fff;
  gap: 0 80px;
  margin: 104px 0;
}

#aboutus .subheading{
  font-family: "Shippori Mincho" ,serif;
  writing-mode: vertical-rl; 
  text-orientation: upright; 
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 0.14em;
}

#aboutus .text{
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 2.40;
  margin: 40px 0 0 0;
}

/*-----------------------menu---------------------------*/

#menu{
  position: relative;
  display: flex;
  width: 1440px;
  padding-left: 40px;
  max-width: 100%;
  margin: 0 auto;
  height: 877px;
  overflow: hidden;
} 

#menu .img_area{
  display: flex;
  justify-content: space-between;
  gap: 0 80px;
}

#menu .bg{
  position: absolute;
  bottom: auto;
  left: auto;
  right: 0px;
  top: 0px;
  width: 87.74%;
  height: 95%;
  z-index: -2;
  object-fit: cover;
}

#menu .logo{
  height: auto;
  width: 200px;
  max-width: 100%;
}

#menu .subheading{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 1.4;
}

#menu .tag{
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  left: 40px;
  top: 60px;
  position: absolute;
  z-index: 1;
}

#menu .main{
  position: absolute;
  z-index: -1;
  right: 40px;
  top: 5%;
  width: 1011.62px;
}

#menu .subtitle{
  color: #333333FF;
  font-family: "Shippori Mincho" ,serif;
  font-size: 28px;
  font-weight: 500;
  height: auto;
  letter-spacing: 0.10em;
  line-height: 1.40;
  text-align: left;
  writing-mode: vertical-rl; 
  text-orientation: upright; 
  position: absolute;
  justify-content: flex-start;
  z-index: 1;
  right: 1132.62px;
  top: 50%; 
  transform: translateY(-50%);
}

#menu .menu_playing{
  background: #fff;
  border: 1px solid #000;
  top: 688px;
  left: 110px;
  padding: 40px;
  position: absolute;
  z-index: 2;
}

#menu .body_text{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 2.20;
}

/*------------------access----------------*/
#access{
  height: auto;
  width: 1440px;
  max-width: 100%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

#access .access_text{
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.4;
}

#access .subtitle{
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 0.06em;
  line-height: 1.4;
}

#access .ac_title{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  justify-content: flex-start;
  margin-top: 104px;
}

#access .ac_visual{
  position: relative;
  width: 1440px;
  max-width: 100%;
  height: 608px;
  margin-top: 40px;
}
#access .bg{
  left: 0px;
  top: 0px;
  width:100%;
  height: 100%;
}

#access .map{
  padding: 64px 40px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
}

/*----------------footer------------------*/

#footer{
  width: 100%;
  margin: 80px 0;
}

#footer .fo_main{
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  height: auto;
}


#footer .fo_body{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: flex-end;
}

#footer .footer_text{
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.06em;
  line-height: 2.20;
}

#footer .copyright{
  font-family: 'Playfair Display';
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.12em;
  line-height: 1.4;
}
